@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e6ceff;
    color: #2f2f2f;
    font-family: 'Noto Serif KR', serif;
    font-size: 16px;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 10px;
    scroll-margin-top: 80px;
}

.wrapper {
    width: 85%;
    margin: 20px auto;
}

h1 {
    display: none;
}

h2, h3 {
    font-family: sans-serif;
}

h2 {
    margin: 0 0 20px 0;
    text-transform: uppercase;
    font-size: 18px;
}

#navbar {
    padding: 20px;
    position: sticky;
    top: 0;
    text-align: center;
    box-shadow: 0 4px 4px -4px black;
    z-index: 1;
}

#navbar a {
    color: #2f2f2f;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 10px 30px;
}

#navbar a:hover {
    background-color: #826fa9;
    color: white;
    text-decoration: underline;
}

#info {
    margin-top: 24px;
}

#info h2 {
    display: none;
}

#info th {
    text-transform: uppercase;
}

#info img {
    width: 100px;
    height: auto;
    border-radius: 90px;
    margin-right: 40px;
}

#contact {
    clear: both;
}

table {
    display: inline-block;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: top;
}

th {
    text-align: left;
    padding-right: 20px;
}

th, td {
    font-size: 12px;
}

#my_name th {
    display: none;
}

#my_name td {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: gold;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 4px;
}

ul li::before {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

#skill ol {
    list-style: none;
    padding: 0;
}

#skill li {
    display: inline-block;
    background-color: #826fa9;
    padding: 4px 10px;
    border-radius: 32px;
    margin: 0 8px 8px 0;
    text-transform: uppercase;
    color: white;
}

#skill li::before {
    content: "#";
}

#project ol {
    list-style: none;
    padding: 0;
}

#project li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

#project li:last-child {
    border-bottom: none;
}

#project video {
    width: 100%;
}

ul li a {
    padding-left: 10px;
}

#project a {
    display: inline-block;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

#project a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b29ddb;
    border-radius: 10rem;
    z-index: -2;
}

#project a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #826fa9;
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
}

#project a:hover {
    color: #fff;
    text-decoration: none;
}

#project a:hover::before {
    width: 100%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #b29ddb;
    color: white;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
}

.float:hover {
    background-color: #826fa9;
    color: white;
}

.topBtn {
    margin-top: 22px;
}